header {
    font-size: 30px;
    color: #4671d5;
    padding-left: 270px;
    padding-top: 20px;
}

.container {
    border: 3px solid lightgrey;
    padding: 40px;
    max-width: 900px;
}

p {
    margin-bottom: 5px;
}

.currency {
    margin-bottom: 20px;
}

.left__side {
    text-align: right;
    padding-right: 50px;
}

.right__side {
    padding-left: 50px;
}

input {
    width: 250px;
    height: 40px;
}
